<div class="nav-bar"></div>

<div id="app">

    <div class="cart">
        <p>Cart({{ cart.length }})</p>
    </div>

    <product-details :premium="premium" @add-to-cart="updateCart"></product-details>
    
</div> 

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

 <style>
    body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
  
  .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
  }

  .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }
  
  .product-image {
    width: 80%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  .color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  
  .cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
  }
  
  button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .tabs {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }
 </style>

 <script>
//Add a new boolean data property `onSale` and create a computed property that takes `brand`, `product` and `onSale` and prints out a string whenever `onSale` is true.

var eventBus = new Vue()

Vue.component('productDetails', {
    template: `  <div class="product">
        
        <div class="product-image">
          <img :src="image" />
        </div>
    
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <p>{{ sale }}</p>
          <p>Shipping: {{shipping}} </p>  
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
    
    
            <div class="color-box"
                 v-for="(variant, index) in variants" 
                 :key="variant.variantId"
                 :style="{ backgroundColor: variant.variantColor }"
                 @mouseover="updateProduct(index)"
                 >
            </div> 
    
            <button v-on:click="addToCart" 
              :disabled="!inStock"
              :class="{ disabledButton: !inStock }"
              >
            Add to cart
            </button>
    
          </div>  

          <review-tabs :reviews="reviews" ></review-tabs>
        
      </div>`,
    
    props: {
        premium: {
            type: Boolean,
            required: true
        }
    }, 

    data() {
        return {
            product: 'Socks',
            brand: 'Vue Mastery',
            selectedVariant: 0,
            details: ['80% cotton', '20% polyester', 'Gender-neutral'],
            variants: [
            {
                variantId: 2234,
                variantColor: 'green',
                variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg',
                variantQuantity: 10     
            },
            {
                variantId: 2235,
                variantColor: 'blue',
                variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg',
                variantQuantity: 2     
            }
            ],
            onSale: true,
            reviews : []
        }
    },

    methods : {

        addToCart: function() {
            this.$emit('add-to-cart', this.variants[this.selectedVariant].variantId)

            this.variants[this.selectedVariant].variantQuantity--
        },
        updateProduct: function(index) {  
            this.selectedVariant = index
        }
    },

    computed : {
        title() {
            return this.brand + ' ' + this.product  
        },
        image(){
            return this.variants[this.selectedVariant].variantImage
        },
        inStock(){
            return this.variants[this.selectedVariant].variantQuantity
        },
        sale() {
          if (this.onSale) {
            return this.brand + ' ' + this.product + ' are on sale!'
          } 
            return  this.brand + ' ' + this.product + ' are not on sale'
        },
        shipping(){
            if(this.premium){
                return 'free'
            }else{
                return 2.00
            }
        }
    },

    mounted() {
        eventBus.$on('review-submitted', productReview => {
          this.reviews.push(productReview)
        })
    }

})



Vue.component('reviewTabs', {
    template: `
    <div>
        <div>
            <span class="tabs"
                  :class="{ activeTab: selectedTab === tab }"
                  v-for="(tab, index) in tabs" 
                  @click="selectedTab = tab"
            >{{ tab }}</span>
        </div>

        <div v-show="selectedTab === 'Reviews'">
            <p v-if="!reviews.length">There are no reviews yet.</p>
            <ul>
              <li v-for="review in reviews">
              <p>{{ review.name }}</p>
              <p>Rating: {{ review.rating }}</p>
              <p>{{ review.review }}</p>
              </li>
            </ul>
        </div>

        <div v-show="selectedTab === 'Make a Review'">
                <product-review></product-review>
        </div>

    </div>`,
    props : {
        reviews : {
            type : Array,
            required : false
        }
    },

    data(){
        return {
            tabs: ['Reviews', 'Make a Review'],
            selectedTab : 'Reviews'

        }
    }
})



Vue.component('product-review', {
    template : `
    <form class="review-form" @submit.prevent="onSubmit">

        <p class="error" v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>

      <p>
        <label for="name">Name:</label>
        <input id="name" v-model="name" placeholder="name">
      </p>
      
      <p>
        <label for="review">Review:</label>      
        <textarea id="review" v-model="review"></textarea>
      </p>
      
      <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </p>
          
      <p>
        <input type="submit" value="Submit">  
      </p>    
    
    </form>`,

    data(){

        return {
            name : null,
            review : null,
            rating : null,
            errors : []
        }
    }, 
    methods : {

        onSubmit() {
            this.errors = []
            if(this.name && this.review && this.rating){
                let productReview = {
                    name : this.name,
                    review : this.review,
                    rating : this. rating
                }

                eventBus.$emit('review-submitted', productReview)

                this.name = null
                this.review = null
                this.rating = null
            }else{
                if(!this.name) this.errors.push('Name is required !')
                if(!this.review) this.errors.push('Review is required !')
                if(!this.rating) this.errors.push('Rating is required !')
            }
            

        }
    }
})



var app = new Vue({
    el: '#app',
    data : {
        premium : true,
        cart : []
    },

    methods: {
        updateCart(id) {
            this.cart.push(id)
        }
    }
  })
</script>